.wp-html-mail-react-component {
	display: flex;
	position: relative;
	min-height: 600px;

	.mail-loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.components-notice {
		margin: 0;
	}

	.save-button-pane {
		margin-bottom: 20px;
		justify-content: flex-end;
		background-color: #f3f4f5;
	}
}