.wp-html-mail-react-component {
	position: relative;
	min-height: 600px;

	.mail-loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.components-notice {
		margin: 0;
	}

	.save-button-pane {
		margin-bottom: 20px;
		justify-content: flex-end;
		background-color: #dddddd;
	}

	.snackbar.components-snackbar {
		position: fixed;
		bottom: 0;
		z-index: 10;
		right: 0;
		padding: 16px 24px;
		margin: 30px;
		
		.components-snackbar__content {
			align-items: center;

			p {
				margin: 1em;
			}
		}

		.dashicon {
			margin-right: 10px;
		}
	}

}

